<header>
  <div class="logo">
    <h1>Wonta Rural Development Association</h1>
  </div>
  <nav id="navbar">
    <a href="index.html">Home</a>
    <a href="about.html">About Us</a>
    <a href="projects.html">Projects</a>
    <a href="contact.html">Contact</a>
  </nav>
</header>
